/* Ensure the webview takes full viewport size */
html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

body {
  overscroll-behavior: none;
}

/* Custom scrollbar styles */
.thin-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #4a5568 #2d3748; /* For Firefox: thumb track */
}

/* For Webkit browsers (Chrome, Safari, Edge) */
.thin-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: #2d3748; /* bg-gray-800 */
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* bg-gray-600 */
  border-radius: 10px;
  border: 2px solid #2d3748; /* padding */
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #718096; /* bg-gray-500 */
}
